.js_btn {
  color: black;
  background-color: rgb(219, 200, 31);
}

.html_btn {
  color: white;
  background-color: rgb(219, 63, 16);
}

.css_btn {
  color: white;
  background-color: rgb(16, 80, 219);
}

.bk_btn {
  color: #42d125;
  background-color: rgb(0, 0, 0);
}

.mern_btn {
  background-color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 1rem;
}

.m {
  color: #4db33d;
}

.e {
  color: rgb(255, 81, 0);
}

.r {
  color: rgb(55, 190, 231);
}

.n {
  color: #3c873a;
}

.mongo_btn {
  color: white;
  background-color: #4db33d;
}

.exp_btn {
  color: white;
  background-color: rgb(255, 81, 0);
}

.node_btn {
  color: black;
  background-color: #3c873a;
}

.fs_btn {
  color: rgb(32, 34, 5);
  background-color: rgb(248, 248, 248);
}

.g_btn {
  color: #3e2c00;
  background-color: #f1502f;
}

.gh_btn {
  color: white;
  background-color: purple;
}

.h_btn {
  color: #c9c3e6;
  background-color: #6762a6;
}

.d_btn {
  color: white;
  background-image: linear-gradient(
    to right,
    rgb(255, 208, 0),
    rgb(0, 68, 255)
  );
}

.ux_btn {
  color: white;
  background-color: rgb(114, 32, 168);
}

.ui_btn {
  color: black;
  background-color: orange;
}

.fe_btn {
  color: rgb(187, 46, 223);
  background-color: black;
}

.scss_btn {
  color: white;
  background-color: #cd6799;
}

.r_btn {
  color: white;
  background-color: rgb(55, 190, 231);
}

.tut_btn {
  color: black;
  background-color: rgb(28, 209, 37);
}

.beg_btn {
  color: black;
  background-color: rgb(206, 209, 28);
}
