.faq_header_container {
  margin: 2rem;
  text-align: center;
}

.faq_header h1 {
  font-size: 1.2rem;
  font-weight: 200;
  color: $b-color;
}

.faq_header h1 > span {
  font-size: 1.2rem;
  font-weight: 400;
  color: $y-color;
}

.accordion {
  margin: 1rem 1.5rem;
  font-family: $body-font;
  @include breakpoint-up(large) {
    margin-left: 15rem;
    margin-right: 15rem;
  }
}

.card {
  border: 2px solid $y-color;
}

.card-header {
  background-color: #2b3349;
}

.card-header button {
  color: $b-color;
}

.card-body {
  color: black;
}

.footer_faq {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;

  @include breakpoint-up(medium) {
    display: flex;
    width: 100%;
  }

  @include breakpoint-up(large) {
    display: flex;
    width: 100%;
  }
}
