.hero_container {
  margin-top: 1rem;
  padding-top: 2rem;
}

.hero_header_title {
  font-size: $font-bsm;
  text-align: center;
  font-weight: 100;
  margin-top: 2rem;
}

.hero_header_title span {
  font-size: $font-bsm;
  color: $y-color;
  text-align: center;
  font-weight: 400;
}

.container_animation_text_hero {
  justify-content: center;
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: 0rem;
  margin-bottom: 0.8rem;
  border-bottom: 2px solid $y-color;
  padding-bottom: 2rem;
}

.how_works_container {
  margin: 4rem 2rem 4rem 2rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.how_works_option {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.how_works_text {
  font-size: 1rem;
  margin-right: 1rem;
}

.how_works_text2 {
  font-size: 1rem;
  margin-left: 1rem;
}

.how_works_image {
  font-size: 2rem;
  color: $y-color;
}

.rock_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2rem 1rem 2rem 1rem;
}
.rock_text {
  font-size: 1.2rem;
  font-weight: 200;
  text-transform: uppercase;
}

.rock_text span {
  font-size: 1.4rem;
  color: $y-color;
  font-weight: 400;
  text-transform: uppercase;
}
