.signUpMobile_container {
  margin: 3rem 2rem;
  margin-bottom: 0rem;
}

.signIn_container {
  margin: 5rem 2rem;
  margin-bottom: 0rem;
}

.form_title {
  border-bottom: 2px solid $y-color;
  width: 70%;
  margin-bottom: 1rem;
}

.modal-dialog {
  color: $b-color;
}

.modal-content {
  background-color: $bg-color;
}

.modal-body,
.modal-footer {
  border: none !important;
}
.modal-footer {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

.modal-header {
  border-bottom: none !important;
}

.modal-title {
  color: $y-color;
}

.close span {
  color: $b-color;
  border: none !important;
}

.message-container,
.message-container2 {
  color: red;
  z-index: 99;
  text-align: center;
  align-items: center;
}

.btn-primary {
  background-color: $y-color !important;
  border: none !important;
  color: $b-color;
}
