.modal-dialog {
  color: $b-color;
}

.modal-content {
  background-color: $bg-color;
}

.modal-body,
.modal-footer {
  border: none !important;
}

.modal-header {
  border-bottom: none !important;
}

.modal-title {
  color: $y-color;
}

.close span {
  color: $b-color;
  border: none !important;
}

.message-container,
.message-container2 {
  color: red;
  z-index: 99;
  text-align: center;
  align-items: center;
}

.btn-primary {
  background-color: $y-color !important;
  border: none !important;
  color: $b-color;
}
