.posts_container {
  margin-top: 1rem;
  padding-top: 2rem;
}

.posts_header_title {
  font-size: $font-bsm;
  text-align: center;
  font-weight: 100;
}

.posts_header_title span {
  font-size: $font-bsm;
  color: $y-color;
  text-align: center;
  font-weight: 300;
}

.posts_header_subtitle {
  margin-top: 2rem;
  font-size: 3.5rem;
  color: $y-color;
  text-align: center;
  font-weight: 100;
}

.buttons_container {
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding: 0rem 2rem;
}

.btn_post_tags {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn_post_style {
  width: 6rem;
  height: 2rem;
  color: #3f4346;
  font-size: 0.9rem;
  font-weight: 400;
  background-color: $y-color;
  border: none;
  border-radius: 8px;
  margin: 0.2rem;
}

.posts_articles_title {
  font-size: $font-sm;
  text-align: center;
  font-weight: 100;
  margin-bottom: 3.5rem;
}

.posts_articles_title span {
  color: $y-color;
  font-weight: 300;
}

// * Articles from API

a.article-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1.5px inset #f02b6636;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
  text-decoration: none;
}

a.article-card h1:hover {
  color: #424949;
}

a > .user-img {
  height: 75%;
  width: 75%;
  padding-bottom: 1rem;
  margin-right: 1rem;
}
a > .user-img img {
  width: 100%;
  height: 100%;
}
a.article-card h1 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}
a.article-card h2 {
  text-align: center;
  color: $b-color;
  font-weight: 400;
  font-size: 0.8rem;
  margin-bottom: 2rem;
}
