// Colors



// $bg-color:#FF8E63;
// $b-color: #FFFFFF;
// $y-color: #C3CDD6;
// $extra-bc: #929d9e;


// ! Me encanta ! 
$bg-color:#202637;
$b-color: #F2F2F2;
$y-color: #F02B67;
$extra-bc: #929d9e;

// Option 3
// $bg-color: #000000;
// $b-color: #ffffff;
// $y-color: #8F79EB;
// $extra-bc: #929d9e;


// ? option 2 maybe ?
// $bg-color: #101010;
// $b-color: #D0D0D0;
// $y-color: #C0FF00;
// $extra-bc: #929d9e;

// Option 1
// $bg-color: #fff6f9;
// $b-color: #15161C;
// $y-color: #0A59F8;
// $extra-bc: #929d9e;

// #9E6F99
// #ff383f

// Fonts

$body-font: "Libre Franklin", sans-serif;

// Font sizes

$font-vsm: 1rem;
$font-sm: 1.3rem;
$font-bsm: 1.7rem;
$font-med: 2rem;
$font-lmed: 3rem;
$font-lg: 4rem;
$font-exlg: 6rem;
$font-but: 1.5rem;
