.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 250ms ease-in-out forwards;
          animation: fade-in 250ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 350ms ease-in-out forwards;
          animation: fade-out 350ms ease-in-out forwards;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Libre Franklin", sans-serif;
  height: 100%;
  background-color: #202637;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Libre Franklin", sans-serif;
  color: #F2F2F2;
  line-height: 1.3;
}

body.noscroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: #F02B67;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
}

.container--pall {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.container--py {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.container--px {
  padding-right: 1rem;
  padding-left: 1rem;
}

.container--pt {
  padding-top: 1rem;
}

.container--pl {
  padding-left: 1rem;
}

.container--pb {
  padding-bottom: 1rem;
}

.container--pr {
  padding-right: 1rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-dir-r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-dir-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

button,
.button {
  padding: 0.625rem;
  cursor: pointer;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.navbar__logotext {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  border-bottom: 2px solid #F02B67;
}

.navbar__logotext span {
  color: #F02B67;
  font-weight: 400;
}

.navbar__logotext {
  font-weight: 300;
  color: #F2F2F2;
}

.overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #202637;
}

.header .hmb__menu {
  margin-top: 0.5rem;
  margin-right: 1rem;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__toggle > span {
  display: block;
  width: 1.625rem;
  height: 2px;
  background-color: #F02B67;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  -webkit-transform-origin: 3.8px 1.6px;
          transform-origin: 3.8px 1.6px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 4px;
}

.header__menu {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  top: 15%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0 1.625rem;
  margin-top: 1rem;
}

.header__menu a {
  display: block;
  color: #F2F2F2;
  padding: 1rem 0.625rem;
  text-align: center;
  font-size: 1.3rem;
}

.header .navbar__links a {
  position: relative;
  margin-right: 1.5rem;
  padding-right: 0.8rem;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1rem;
  color: #F2F2F2;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header .navbar__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  background: #F02B67;
  opacity: 0;
  left: 0;
  right: 10px;
  bottom: -0.5rem;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header .navbar__links a:hover::before {
  opacity: 1;
}

.header__buttons {
  color: #F02B67 !important;
}

.posts_container {
  margin-top: 1rem;
  padding-top: 2rem;
}

.posts_header_title {
  font-size: 1.7rem;
  text-align: center;
  font-weight: 100;
}

.posts_header_title span {
  font-size: 1.7rem;
  color: #F02B67;
  text-align: center;
  font-weight: 300;
}

.posts_header_subtitle {
  margin-top: 2rem;
  font-size: 3.5rem;
  color: #F02B67;
  text-align: center;
  font-weight: 100;
}

.buttons_container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding: 0rem 2rem;
}

.btn_post_tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn_post_style {
  width: 6rem;
  height: 2rem;
  color: #3f4346;
  font-size: 0.9rem;
  font-weight: 400;
  background-color: #F02B67;
  border: none;
  border-radius: 8px;
  margin: 0.2rem;
}

.posts_articles_title {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 100;
  margin-bottom: 4rem;
}

.posts_articles_title span {
  color: #F02B67;
  font-weight: 300;
}

a.article-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1.5px inset #f02b6636;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
  text-decoration: none;
}

a.article-card h1:hover {
  color: #424949;
}

a > .user-img {
  height: 75%;
  width: 75%;
  padding-bottom: 1rem;
  margin-right: 1rem;
}

a > .user-img img {
  width: 100%;
  height: 100%;
}

a.article-card h1 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}

a.article-card h2 {
  text-align: center;
  color: #F2F2F2;
  font-weight: 400;
  font-size: 0.8rem;
  margin-bottom: 2rem;
}

a.book-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1.5px solid #f02b6636;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
  text-decoration: none;
}

a.book-card h1:hover {
  color: #424949;
}

a > .book-img {
  height: 75%;
  width: 75%;
  padding-bottom: 1rem;
  margin-right: 1rem;
}

a > .book-img img {
  width: 100%;
  height: 100%;
}

a.book-card h1 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 2rem;
  text-align: center;
}

a.book-card h2 {
  text-align: center;
  color: #F2F2F2;
  font-weight: 400;
  font-size: 0.8rem;
  margin-bottom: 2rem;
}

.signUpMobile_container {
  margin: 3rem 2rem;
  margin-bottom: 0rem;
}

.signIn_container {
  margin: 5rem 2rem;
  margin-bottom: 0rem;
}

.form_title {
  border-bottom: 2px solid #F02B67;
  width: 70%;
  margin-bottom: 1rem;
}

.modal-dialog {
  color: #F2F2F2;
}

.modal-content {
  background-color: #202637;
}

.modal-body,
.modal-footer {
  border: none !important;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.modal-header {
  border-bottom: none !important;
}

.modal-title {
  color: #F02B67;
}

.close span {
  color: #F2F2F2;
  border: none !important;
}

.message-container,
.message-container2 {
  color: red;
  z-index: 99;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-primary {
  background-color: #F02B67 !important;
  border: none !important;
  color: #F2F2F2;
}

.js_btn {
  color: black;
  background-color: #dbc81f;
}

.html_btn {
  color: white;
  background-color: #db3f10;
}

.css_btn {
  color: white;
  background-color: #1050db;
}

.bk_btn {
  color: #42d125;
  background-color: black;
}

.mern_btn {
  background-color: black;
  font-weight: 300;
  font-size: 1rem;
}

.mern {
  color: #4db33d;
  margin-bottom: 0rem !important;
}

.e {
  color: #ff5100;
}

.r {
  color: #37bee7;
}

.n {
  color: #3c873a;
}

.mongo_btn {
  color: white;
  background-color: #4db33d;
}

.exp_btn {
  color: white;
  background-color: #ff5100;
}

.node_btn {
  color: black;
  background-color: #3c873a;
}

.fs_btn {
  color: #202205;
  background-color: #f8f8f8;
}

.g_btn {
  color: #3e2c00;
  background-color: #f1502f;
}

.gh_btn {
  color: white;
  background-color: purple;
}

.h_btn {
  color: #c9c3e6;
  background-color: #6762a6;
}

.d_btn {
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffd000), to(#0044ff));
  background-image: linear-gradient(to right, #ffd000, #0044ff);
}

.ux_btn {
  color: white;
  background-color: #7220a8;
}

.ui_btn {
  color: black;
  background-color: orange;
}

.fe_btn {
  color: #bb2edf;
  background-color: black;
}

.scss_btn {
  color: white;
  background-color: #cd6799;
}

.r_btn {
  color: white;
  background-color: #37bee7;
}

.tut_btn {
  color: black;
  background-color: #1cd125;
}

.beg_btn {
  color: black;
  background-color: #ced11c;
}

.cod_btn {
  color: white;
  background-color: #1c89d1;
}

.scrollToTopBtn {
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 400;
  background-color: #F02B67;
  color: black;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  /* place it at the bottom right corner */
  position: fixed;
  bottom: 15px;
  right: 20px;
  /* keep it at the top of everything else */
  z-index: 100;
  /* hide it at first */
  /* UPDATE: remove display none */
  /* 
  /* hide with opacity */
  opacity: 0;
  /* also add a translate effect */
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  /* and a transition */
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.showBtn {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
/*# sourceMappingURL=style.css.map */